<section class="Portifolio py-5 mt-5 position-relative">
    <div class="container">
      <div class=" d-flex justify-content-center">
        <div class="heading text-center">
            <h2 class="mt-5 fw-bold Heading">PORTIFOLIO</h2>
            <div class="line-style position-relative mt-4   ">
                <div class="F-line"></div>
                <div class="Star-icon">
                    <i class="fa-solid fa-star  fa-2x px-3"></i>
                </div>
            </div>
           </div>
      </div>
       <div class="row g-5 mt-4">
        <div class="col-md-4"data-bs-toggle="modal" data-bs-target="#exampleModal1" >
            <div class="image position-relative rounded-4 overflow-hidden">
                <img src="./assets/IMAGE/cabin.png" InfH="LOG CABIN" class="w-100" alt="">
                <div class="overLay d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-5x fw-bolder text-white"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-bs-toggle="modal" data-bs-target="#exampleModal2" >
            <div class="image position-relative rounded-4 overflow-hidden">
                <img src="./assets/IMAGE/cake.png" InfH="TASTY CAKE" class="w-100" alt="">
                <div class="overLay d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-5x fw-bolder text-white"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-bs-toggle="modal" data-bs-target="#exampleModal3" >
            <div class="image position-relative rounded-4 overflow-hidden">
                <img src="./assets/IMAGE/circus.png" InfH="CIRCUS TENT" class="w-100" alt="">
                <div class="overLay d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-5x fw-bolder text-white"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-bs-toggle="modal" data-bs-target="#exampleModal4" >
            <div class="image position-relative rounded-4 overflow-hidden">
                <img src="./assets/IMAGE/game.png" InfH="CONTROLLER" class="w-100" alt="">
                <div class="overLay d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-5x fw-bolder text-white"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-bs-toggle="modal" data-bs-target="#exampleModal5" >
            <div class="image position-relative rounded-4 overflow-hidden">
                <img src="./assets/IMAGE/safe.png" InfH="LOCKED SAFE
                " class="w-100" alt="">
                <div class="overLay d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-5x fw-bolder text-white"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 " data-bs-toggle="modal" data-bs-target="#exampleModal6"  >
            <div class="image position-relative rounded-4 overflow-hidden">
                <img src="./assets/IMAGE/submarine.png" InfH="SUBMARINE" class="w-100" alt="" > 
                <div class="overLay d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-5x fw-bolder text-white"></i>
                </div>
            </div>
        </div>
       </div>
    </div>

   
</section>


<!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class=" d-flex justify-content-center">
                <div class="heading text-center">
                    <h1 class="mt-5 fw-bold Heading">LOG CABIN</h1>
                    <div class="line-style position-relative mt-4   ">
                        <div class="F-line"></div>
                        <div class="Star-icon">
                            <i class="fa-solid fa-star  fa-2x px-3"></i>
                        </div>
                    </div>
                   </div>
              </div>
              <div class="image position-relative rounded-4 overflow-hidden mt-4">
                <img src="./assets/IMAGE/cabin.png" InfH="LOG CABIN" class="w-100 rounded-3" alt="">
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.  </p>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class=" d-flex justify-content-center">
                <div class="heading text-center">
                    <h1 class="mt-5 fw-bold Heading">TASTY CAKE</h1>
                    <div class="line-style position-relative mt-4   ">
                        <div class="F-line"></div>
                        <div class="Star-icon">
                            <i class="fa-solid fa-star  fa-2x px-3"></i>
                        </div>
                    </div>
                   </div>
              </div>
              <div class="image position-relative rounded-4 overflow-hidden mt-4">
                <img src="./assets/IMAGE/cake.png" InfH="LOG CABIN" class="w-100 rounded-3" alt="">
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.  </p>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class=" d-flex justify-content-center">
                <div class="heading text-center">
                    <h1 class="mt-5 fw-bold Heading">CIRCUS TENT</h1>
                    <div class="line-style position-relative mt-4   ">
                        <div class="F-line"></div>
                        <div class="Star-icon">
                            <i class="fa-solid fa-star  fa-2x px-3"></i>
                        </div>
                    </div>
                   </div>
              </div>
              <div class="image position-relative rounded-4 overflow-hidden mt-4">
                <img src="./assets/IMAGE/circus.png" InfH="LOG CABIN" class="w-100 rounded-3" alt="">
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.  </p>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class=" d-flex justify-content-center">
                <div class="heading text-center">
                    <h1 class="mt-5 fw-bold Heading">CONTROLLER</h1>
                    <div class="line-style position-relative mt-4   ">
                        <div class="F-line"></div>
                        <div class="Star-icon">
                            <i class="fa-solid fa-star  fa-2x px-3"></i>
                        </div>
                    </div>
                   </div>
              </div>
              <div class="image position-relative rounded-4 overflow-hidden mt-4">
                <img src="./assets/IMAGE/game.png" InfH="LOG CABIN" class="w-100 rounded-3" alt="">
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.  </p>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class=" d-flex justify-content-center">
                <div class="heading text-center">
                    <h1 class="mt-5 fw-bold Heading">LOCKED SAFE</h1>
                    <div class="line-style position-relative mt-4   ">
                        <div class="F-line"></div>
                        <div class="Star-icon">
                            <i class="fa-solid fa-star  fa-2x px-3"></i>
                        </div>
                    </div>
                   </div>
              </div>
              <div class="image position-relative rounded-4 overflow-hidden mt-4">
                <img src="./assets/IMAGE/safe.png" InfH="LOG CABIN" class="w-100 rounded-3" alt="">
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.  </p>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class=" d-flex justify-content-center">
                <div class="heading text-center">
                    <h1 class="mt-5 fw-bold Heading">PORTIFOLIO</h1>
                    <div class="line-style position-relative mt-4   ">
                        <div class="F-line"></div>
                        <div class="Star-icon">
                            <i class="fa-solid fa-star  fa-2x px-3"></i>
                        </div>
                    </div>
                   </div>
              </div>
              <div class="image position-relative rounded-4 overflow-hidden mt-4">
                <img src="./assets/IMAGE/submarine.png" InfH="SUBMARINE" class="w-100 rounded-3" alt="">
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.  </p>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
  </div>

