.footer {
    background-color: var(--main-color);
}

.links li {
    width: 50PX;
    height: 50PX;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.6s;
}

.links li:hover{
    color: black;
    background-color: white;
}
.Copyright{
    background-color: #1A252F;
}