<section class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-white">
                <h3 class="fw-semibold">LOCATION</h3>
                <P class="mt-4">2215 John Daniel Drive Clark, MO 65243</P>
            </div>
            <div class="col-md-4 text-center  text-white">
                <h3 class="fw-semibold">AROUND THE WEB</h3>
                <ul class="d-flex mt-4 links list-unstyled justify-content-around">
                    <li><i class="fa-brands  fa-facebook-f"></i></li>
                    <li><i class="fa-brands  fa-twitter"></i></li>
                    <li><i class="fa-brands  fa-linkedin"></i></li>
                    <li><i class="fa-brands  fa-dribbble"></i></li>
                </ul>
            </div>
            <div class="col-md-4 text-center text-white">
                <h3 class="fw-semibold">ABOUT FREELANCER</h3>

                <p class="mt-4">Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</section>
<div class="Copyright text-white py-3 text-center">
    <p>Copyright © Your Website 2021</p>
</div>