<section class="Home">
    <div class="container vh-100 d-flex align-items-center justify-content-center">
        <div class="home-content text-center">
            <img src="./assets/IMAGE/avataaars.svg" class="w-50" alt="">
            <h2 class="mt-5 text-white fw-bold">START ANGULAR</h2>
            <div class="line-style position-relative mt-4   ">
                <div class="F-line"></div>
                <div class="Star-icon">
                    <i class="fa-solid fa-star text-white fa-2x px-3"></i>
                </div>
            </div>
            <p class="text-white mt-5 fs-4 fw-normal">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>